---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { SPEAKINGS } from "@consts";

const speakings = (await getCollection("speakings"))
  .filter((speaking) => !speaking.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={SPEAKINGS.TITLE} description={SPEAKINGS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Speakings
      </div>
      <ul class="animate not-prose flex flex-col gap-4">
        {
          speakings.map((speaking) => (
            <li>
              <ArrowCard entry={speaking} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</Layout>
