---
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

// https://kld.dev/building-table-of-contents/
const { headings } = Astro.props;
const toc = buildToc(headings);

export interface Heading {
  depth: number;
  slug: string;
  text: string;
}

function buildToc(headings: Heading[]) {
  // Only include headings with depth 1 (# heading) or 2 (## heading)
  const validHeadings = headings.filter(h => h.depth === 1 || h.depth === 2);

  const toc: Heading[] = [];
  const parentHeadings = new Map();

  validHeadings.forEach((h) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);

    if (heading.depth === 1) {
      toc.push(heading);
    } else if (heading.depth === 2) {
      const parent = parentHeadings.get(1);
      if (parent) {
        parent.subheadings.push(heading);
      } else {
        // If there's no level 1 parent, add level 2 directly to toc
        toc.push(heading);
      }
    }
  });

  return toc;
}
---

<details
  open
  class="animate rounded-lg border border-black/15 dark:border-white/20"
>
  <summary>Table of Contents</summary>
  <nav class="">
    <ul class="py-3">
      {toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
    </ul>
  </nav>
</details>

<style>
  summary {
    @apply cursor-pointer rounded-t-lg px-3 py-1.5 font-medium transition-colors;
  }

  summary:hover {
    @apply bg-black/5 dark:bg-white/5;
  }

  details[open] summary {
    @apply bg-black/5 dark:bg-white/5;
  }
</style>
